# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Image Library
# Satwik
ICDAR/
MSRA-TD500/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
*.asv

# Output folder
output/*

# Scrap matlab file.
src/scrap.m
